* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Times New Roman", Times, serif;
}

input {
  height: 30px;
  padding: 5px 5px;
  font-size: 15px;
  border-radius: 5px;
  border-style: solid 1px grey;
  width: 320px;
}

h1 {
  text-align: center;
  color: aqua;
}

label {
  position: relative;
  width: 200px;
  float: left;
  margin-top: 10px;
}

#formulario {
  width: 550px;
  margin: 0 auto;
}

.elemento-formulario {
  margin: 10px;
}

#enviar {
  margin-left: 220px;
  top: 50px;
  background-color: blue;
  color: aliceblue;
  font-style: inherit;
  font-size: 15px;
  width: 180px;
}

#mensajeErrorCampos {
  color: red;
  font-size: 110%;
}
